/* all responsive code*/
@media(max-width:762.98px){
    .navbar-dropdown img{
        width: 43xp !important;
    }
    .netflix-padding-left{
        padding-left: 10px !important;
    }
    .netflix-padding-right{
        padding-right: 10px !important;
    }
    .netflix-dropdown-box{
        display: block !important;
    }
    .netflix-nav{
        display: none;
    }
    i{
        font-size: 15px;
        padding: 7px !important;
        cursor: pointer;
    }
    .netflix-profile{
        margin-left: 5px !important;
    }
    .netflix-dropdown-box{
        display: block;
    }
    .netflix-nav{
        display: none !important;
    }
    
    /* video */
    .netflix-home-video .content .left{
        margin-left: 25px;
    }
    .netflix-home-video .content .left img{
        width: 200px;
        margin-top: 90px !important;
    }
    button{
        font-size: 10px !important;
        width: max-content !important;
        opacity: 0.8;
    }
    
    /*video*/
    .slider{
        top: 250px;
        margin-left: 0px;
    }
    
    .card{
        width: 150px;
    }
    .margin-right{
        margin-right: unset;
    }
    .card-icon{
        font-size: 17px !important;
    }
    .card-body{
        top: 80px !important;
    }
    .netflix-card-text{
        font-size: 8px;
    }
    .position-slider2{
        top: 0px !important;
    }
    .margin-title{
        margin-top: 100px;
    }
    .margin-title2{
        margin-top: 14px;
    }
    .copy-right{
        
          margin-left: 0px !important;
    }
    .student-name{
        
        margin-left: 0px !important;
  }
  .card:hover{
    display: none;
  }
}
